# **Collection Data Types - Set**

## **Introduction**

In [44]:
# String, Tuple(90)      --> Ordered, Unchangeable
# List[], Dictionary{}   --> Ordered, Changeable, (duplicate, no dubplicates)
# Set                    --> Unordered, Unchangeable, No duplicates

In [45]:
# Set and Dictionary -- do not allow duplicates

In [46]:
# When any (list/tuple) --- is changed into ---> {set}
# It omits the duplicate values and just keeps a single value for each elements

In [47]:
# You can not access Set elements by indexing

## **Convert list and tuple into set**

In [48]:
#@title **Initialize a List and a tuple**


#Initialize a List and a tuple                                                                  #
#################################################################################################
Strings = ["Apple", "banana","banana", "Mango", "Grape", "Banana","Banana","Banana", "grape"]   #
Numbers = (1,2,3,4,3,5,5,5,9,10,9,7,7,6,6,6,8)                                                  #
print(f"Strings = {Strings}\nNumbers = {Numbers}\n\n")                                          #

Strings = ['Apple', 'banana', 'banana', 'Mango', 'Grape', 'Banana', 'Banana', 'Banana', 'grape']
Numbers = (1, 2, 3, 4, 3, 5, 5, 5, 9, 10, 9, 7, 7, 6, 6, 6, 8)

In [49]:
#@title **Convert ------ list_Variable and tuple_variable -----> into  set**



# Convert ------ list_Variable and tuple_variable ----- into -----> set
# ------------------------------------------------------------------------------#
# Convert a list variable into a set variable                                   #
Aset = set(Strings)                                                             #
Bset = set(Numbers)                                                             #
print(f"Aset = {Aset}\nBset = {Bset}")                                          #
# ------------------------------------------------------------------------------#

Aset = {'Grape', 'Mango', 'grape', 'Apple', 'Banana', 'banana'}
Bset = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
#@title **Convert  -- RAW List and Tuple ---> into set**


#-------------------------------------------------------#
# Convert a                                             #
#           -- raw list  [list elements]                #
#           -- raw tuple (tuple elements)               #
# ---------------------------------------->into a set   #
#-------------------------------------------------------#
Cset = set(["Apple", "banana","banana", "Mango", "Grape", "Banana","Banana","Banana", "grape"])
Dset = set((1,2,3,4,3,5,5,5,9,10,9,7,7,6,6,6,8))
print(f"Cset = {Cset}\nDset = {Dset}")

Cset = {'Grape', 'Mango', 'grape', 'Apple', 'Banana', 'banana'}
Dset = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## **Add elements into a set**

In [59]:
#@title **Add "ONLY ONE ELEMENT" into the set**


#---------------------------------------------------------------#
# Initialize and Print a set                                    #
Fruits = {1,2,3,4,4,"Coco", "Coco", "Papaya"}                   #
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#
# Warning: By set.add() ---> you can only add only one element  #
#-------------------------------------------------------------- #
#                                                               #
# Add "ONLY ONE ELEMENT" into the set                           #
Fruits.add("Almonds")                                           #
#                                                               #
#---------------------------------------------------------------#
#                                                               #
# Let's check the fruits now                                    #    
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#

Fruits = {1, 2, 3, 4, 'Papaya', 'Coco'}
Fruits = {1, 2, 3, 4, 'Almonds', 'Papaya', 'Coco'}

### **Add "MULTIPLE ELEMENTS" into the set**

In [60]:
# You can only add 
# <<multiple elements>>| 
#                      |as| 
#                         |-- <<set/set(list/tuple)>>
#-------------------------------------------------------------------#
# There are three ways                                              #
#                                                                   #
# Way 1: setVar.update()                                            #
# Way 2: setVar.union()                                             #
# Way 3: Pipe operator << setVar |= set(list/tuple/set) >>          #   
#-------------------------------------------------------------------#

**Way 1: set.update(set/tuple/list)**

In [61]:
# Way 1: set1.update(set2)                                      #
#---------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
# Initialize and Print a set                                    #
Fruits = {1,2,3,4,4,"Coco", "Coco", "Papaya"}                   #
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
#                                                               #
# The adding elements as set2                                   #
Fruits2 = {"Apple", "Banana"}                                   #
Fruits.update(Fruits2)                                          #
#                                                               #
print(f"Fruits Now = {Fruits}")                                 #
#---------------------------------------------------------------#

Fruits = {1, 2, 3, 4, 'Papaya', 'Coco'}
Fruits Now = {1, 2, 3, 4, 'Apple', 'Papaya', 'Coco', 'Banana'}

**Way 2: .union(set2)**

In [62]:
# Way 2: set1.union(set2)                                       #
#---------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
# Initialize and Print a set                                    #
Fruits = {1,2,3,4,4,"Coco", "Coco", "Papaya"}                   #
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
#                                                               #
# The adding elements as set2                                   #
Fruits2 = {"Apple", "Banana"}                                   #
Fruits.union(Fruits2)                                           #
#                                                               #
print(f"Fruits Now = {Fruits}")                                 #
#---------------------------------------------------------------#

Fruits = {1, 2, 3, 4, 'Papaya', 'Coco'}
Fruits Now = {1, 2, 3, 4, 'Papaya', 'Coco'}

**Way 3: Pipe operator**

In [63]:
# Way 1: set1.update(set2)                                      #


#---------------------------------------------------------------#
# Initialize and Print a set                                    #
Fruits = {1,2,3,4,4,"Coco", "Coco", "Papaya"}                   #
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#


#---------------------------------------------------------------#
#                                                               #
# The adding elements as set2                                   #
Fruits |= {"Apple", "Banana"}                                   #
# OR, Fruits |= set(  (Tuple)/[list]  )                         #
#                                                               #
#                                                               #
print(f"Fruits Now = {Fruits}")                                 #
#---------------------------------------------------------------#

Fruits = {1, 2, 3, 4, 'Papaya', 'Coco'}
Fruits Now = {1, 2, 3, 4, 'Apple', 'Papaya', 'Coco', 'Banana'}

## **Remove elements from a set**

### **Removing one elemetns from a set**

In [64]:
#-----------------------------------------------------------------------------------------------------------#
# Ways:                                                                                                     #
# Set.discard("element")            // if the element  is not present in the set -- doesnt show any error   #
# Set.remove("element")             // if the element  is not present in the set -- SHOWS ERROR             #
# Set.pop()                         // removed element is UNKNOWN                                           #
#-----------------------------------------------------------------------------------------------------------#
#
#
#-----------------------------------------------------------------------------------------------------------#
# SO My primary use will be set.discard("element")                                                          #
#-----------------------------------------------------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
# Initialize and Print a set                                    #
Fruits = {'Apple', 'Papaya', 'Coco', 'Banana'}                  #
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
# Remove Coco and Coconut                                       #
Fruits.discard("Coco")                                          #
Fruits.discard("Coconut")                                       #
#---------------------------------------------------------------#
#
#
#---------------------------------------------------------------#
print(f"Fruits Now = {Fruits}")                                 #
#---------------------------------------------------------------#

Fruits = {'Apple', 'Banana', 'Papaya', 'Coco'}
Fruits Now = {'Apple', 'Banana', 'Papaya'}

### **Removing Multiple elements from a set**

In [65]:
# Do this by symmetric_difference
#---------------------------------------------------------------------------------------#
#
# Set1, set2(things to remove)
#
#---------------------------------------------------------------------------------------#
# set1.symmetric_difference_update(set2)
# By this Set1 will be without elements of set2
#---------------------------------------------------------------------------------------#
#
#
#---------------------------------------------------------------------------------------#
# Warning: Be careful with set2                                                         #
#           Because if SET2 gets additional elements which are not present in SET1      #
#           Then those ADDTIONAL_elements_of_Set2 will be added with the SET            #
#---------------------------------------------------------------------------------------#

### **Clear a set**

In [66]:
#---------------------------------------------------------------#
# Initialize and Print a set                                    #
Fruits = {'Apple', 'Papaya', 'Coco', 'Banana'}                  #
print(f"Fruits = {Fruits}")                                     #
#---------------------------------------------------------------#

Fruits.clear()
print(f"Fruits Now: {Fruits}")

Fruits = {'Apple', 'Banana', 'Papaya', 'Coco'}
Fruits Now: set()

## **Interaction between Multiple Set**

### **Keeping only the Intersected Elements //set1.intersectioned(set2,set3,etc...)**

In [67]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)
print(result)


#-------------------------------------------#
# x.intersection_update(y,z)                #
#                                           #
# <<It directly updates the first set>>     #
#                                           #
# print(x)                                  #
#-------------------------------------------#

{'c'}

### **Keeping All the Elements except intersected ones //set1.symmetric_difference(set2)**

In [68]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.symmetric_difference(y)
print(result)


#-------------------------------------------#
# x.intersection_update(y,z)                #
#                                           #
# <<It directly updates the first set>>     #
#                                           #
# print(x)                                  #
#-------------------------------------------#

{'b', 'a', 'd', 'e'}

### **Checking Sets**

In [70]:
# <<  3 Methods to check 2 sets >>
# These return TRUE OR FALSE
#-------------------------------------------------------------------------------------------||++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#                                                                                           || This part is not correct - Only for my remembering tricks +++
#                                                                                           ||++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# x.is-sub-set(y)            // Find X || checks y for x      //if x is present in y        || subset --> x smaller                                      +++
# x.is-upper-set(y)          // FIND Y || checks x for y      //if y is present in x        || upper  --> y smaller                                      +++
# x.is-dis-joint(y)          // FIND X || checks y for x      //if x is NOT present in y    ||                                                           +++
#-------------------------------------------------------------------------------------------||++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#
# FOR SIMPLE USE:       USE either sub-set/upper-set
#
# I WILL USE << SUBSET >>